<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>新闻管理</h1>
            <hr>
            <table class="table table-bordered table-hover ">
                <thead>
                <tr>
                    <td>id</td>
                    <td>标题</td>
                    <td>发布时间</td>
                    <td>发布者</td>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="news:${newsList}" >
                    <tr>
                        <td th:text="${news.idnews}"></td>
                        <td><a th:text="${news.title}" th:href="'newsDetail?newsId='+${news.idnews}"></a></td>
                        <td th:text="${news.createtime}"></td>
                        <td>管理员</td>
                        <td><button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" th:data-whatever="${news.idnews}" th:onclick="'selectNewsid='+${news.idnews}+';getNews()'">操作</button></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--修改model-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">更改新闻</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/updateNews" role="form" method="post"  autocomplete="off">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">标题</span>
                        </div>
                        <textarea id="title" rows="2" name="title" class="form-control"></textarea>
                    </div>
                    <hr>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">内容</span>
                        </div>
                        <textarea id="content" rows="5" name="content" class="form-control"></textarea>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="">
                            <input name="source" type="hidden" id="b" value="contact" />
                            <input name="idnews" type="hidden" id="idnews"/>
                            <input type="submit" id="change" class="btn btn-outline-success btn-center btn-font-lg" value="修改新闻"></input>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭这里</button>
                <button id="deleteId" class="btn btn-danger" onclick="deleteContact()">删除此新闻</button>
            </div>
        </div>
    </div>
</div>
<script>
    var selectNewsid=0;
    function deleteContact(){
        // var recipient = button.data('whatever')
        // alert(selectContact)
        window.location.href="deleteNews?id="+selectNewsid;
    }
    function getNews(){
        $.ajax({
            type:'GET',
            url:'getNews?id='+selectNewsid,
            success:function (data) {
                console.log(data)
                $("#title").val(data.title)
                $("#content").val(data.content)
                $("#idnews").val(data.idnews)

            }
        })
    }

</script>
</body>
</html>