<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>发布活动</h1>
            <hr>
        </div>
        <div class="col-12">
            <form action="addPrecidentActivity" method="post">
                <p>活动标题</p>
                <input type="text" class="form-control" placeholder="活动标题" name="title">
                <hr>
                <p>活动内容</p>
                <textarea name="description" class="form-control" id="description" rows="5" placeholder="活动内容简介"></textarea>
                <hr>
                <p>开始时间</p>
                <input name="start" type="text" placeholder="yyyy-MM-dd HH:mm:ss" class="form-control">
                <p>结束时间</p>
                <input name="end" type="text" placeholder="yyyy-MM-dd HH:mm:ss" class="form-control">
                <hr>
                <p>活动地点</p>
                <input name="location" type="text" class="form-control" placeholder="活动地点">
                <hr>
                <a href="/communityMap" target="_blank" class="btn btn-primary">点击去获取活动地点经纬度</a>
                <p>经纬度</p>
                <input name="position" type="text" class="form-control" placeholder="填写此行可以出现在活动地图上哦">
                <p>活动类别（是否强制）</p>
                <input name="mandatory" type="radio" value="1" class="" >强制
                <input name="mandatory" type="radio" value="2" class="" checked>非强制

                <hr>
                <input type="submit" class="btn btn-primary" value="新增活动">
            </form>
        </div>
    </div>
</div>
</body>
</html>