<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>board</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div th:include="nav::nav"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>布告板</h1>

            <h2>要不要呢</h2>
        </div>

    </div>
</div>
<script>
    $("#board").addClass("btn btn-secondary active")

</script>
</body>
</html>