<div th:fragment="nav2" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar fixed-top navbar-light bg-light">
        <ul class="nav justify-content-center" style="background-color: rgb(221,193,255);">
            <li class="nav-item">
                <a class="nav-link active" href="/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">站内新闻</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/navActivity">活动列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/navCommunity" tabindex="-1" aria-disabled="true">社团浏览</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board">布告板</a>
            </li>
            <li class="nav-item">
                <th:block th:if="${session.loginUser} == null">
                    <a class='nav-link btn btn-light' data-toggle='modal' data-target='#myModal'>
                        <!--<img src='img/head.jpg' class='img-rounded userimg'>-->
                        登陆/注册
                    </a>
                </th:block>
                <th:block th:if="${session.loginUser} != null">
                    <a class='nav-link' href="info" th:text="${session.loginUser.realname}"></a>
                </th:block>
            </li>
            <li class="nav-item">
                <th:block th:if="${session.loginUser} != null">
                    <th:block th:if="${session.loginUser.level==10}">
                        <a class='nav-link' href="admin">后台系统</a>
                    </th:block>
                    <th:block th:if="${session.loginUser.level==2}">
                        <a class='nav-link' href="president">社团管理</a>
                    </th:block>
                </th:block>
            </li>
        </ul>

        <!-- 登陆模态框 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">登陆</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" type="get" action="/userLogin">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input type="text" name="email" class="form-control" placeholder="Email">
                                <!--<input type="email" name="email" class="form-control" placeholder="Email">-->
                            </div>
                            <hr>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                <input type="password" name="password" class="form-control"  placeholder="Password">
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-9">
                                </div>
                                <div class="checkbox col-3">
                                    <label>
                                        <input type="checkbox" name="remember" value="1"> 记住我
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                </div>
                                <div class="checkbox col-3">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--<a href="#" target="_blank"><button type="button" class="btn btn-default">admin</button></a>-->
                        <a href="/userLogout" class="btn btn-default">登出</a>
                        <!--<button type="button"  class="btn btn-default" data-dismiss="modal">关闭</button>-->
                        <a href="/register" target="_blank"><button type="button" class="btn btn-info">注册</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>