<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>新闻详情</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <style>
        .comment{
            color: red;
            font-size: 1.4em;
        }
        .sendCommentBtn {
            width: 100%;
            height: 88px;
            resize: none;
            font-size: 22px;
        }
        .diary-time {
            font-size: .8em;
            color: #9e9e9e;
        }
    </style>
</head>
<body>
<div th:include="nav::nav"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <hr>
            <label>网站介绍:</label>
            <p>广东药科大学学生社团联合会简称“校社联”，成立于2000年3月，是在校团委领导下，管理学校50多个学生社团的机构。</p>
            <hr>
            <label>联系电话:</label>
            <p>14345678902</p>
            <hr>
            <label>联系地址:</label>
            <p>广东药科大学学生社团联合会</p>
        </div>
        <div class="col-9">
            <h2>新闻详细</h2>
            <hr>
            <h4>新闻标题:</h4>
            <p th:text="${news.title}"></p>
            <hr>
            <h4>活动详情:</h4>
            <p th:text="${news.content}"></p>
            <hr>

            <div class="container">
                <h2>相关评论</h2>
                <hr>
                <form action="addNewsComment" method="post">
                    <div class="row">
                        <div class="col-10">
                            <textarea class="form-control" rows="3" type="text" name="comment" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
                        </div>
                        <div class="col-2">
                            <input type="hidden" name="newsId" th:value="${news.idnews}">
                            <th:block th:if="${session.loginUser} == null">
                                <input class="sendCommentBtn btn btn-primary" type="submit" value="先登录" disabled>
                            </th:block>
                            <th:block th:if="${session.loginUser} != null">
                                <input class="sendCommentBtn btn btn-primary" type="submit" value="评论">
                            </th:block>
                        </div>
                    </div>
                </form>
                <hr>

                <th:block th:each="comment:${comments}" >
                    <div class="row">
                        <div class="col-md-3">
                            <th:block th:switch="${comment.userid}">
                                <th:block th:each="user : ${users}">
                                    <img th:case="${user.iduser}" th:src="${user.head}" class="img-fluid rounded-circle"/>
                                </th:block>
                            </th:block>
                            <!--<img class="img-responsive img-circle" alt="" src="/ueditor/jsp/upload/head/head.jpg">-->
                        </div>
                        <div class="col-9">
                            <th:block th:switch="${comment.userid}">
                                <th:block th:each="user : ${users}">
                                    <code class="namefont" th:case="${user.iduser}" th:text="${user.realname}"></code><br><br>
                                </th:block>
                            </th:block>
                            <p class="content" th:text="${comment.content}"></p>
                            <p class="diary-time" th:text="${#dates.format(comment.createtime, 'yyyy年MM月dd HH:mm')}"></p>
                        </div>
                    </div>
                    <hr>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>